---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="members" class="space-y-16">
    <div class="text-center max-w-3xl mx-auto">
        <Title>
            Nuestros Integrantes
        </Title>
    </div>
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/ArleyPlano.png"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Santiago Villarreal Arley
            </Title>
            <Paragraph className="mt-8">
                El Product Manager se encarga de dar vida al proyecto, en su posición y como miembro de equipo se encarga de crear las metas que se han de cumplir durante el proceso del proyecto. Las responsabilidades del Product Manager no solo recaen en que se asegure en el obtener los resultados esperados de cada meta si no también el de mantener un espíritu alto durante las situaciones complicadas que puede llegar a afrontar el equipo.
            </Paragraph>
            <div class="pt-8 grid grid-cols-2 items-center gap-4 max-w-3xl md:max-w-[none]">
                <Info description="Product Manager" title="Rol"> 
                    <span slot="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-5 sm:h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                        </svg>                              
                    </span>
                </Info>
            </div>
        </div>
    </Container>

    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col order-last lg:-order-last">
            <Title>
                Luis Ángel Sánchez Badilla
            </Title>
            <Paragraph className="mt-8">
                El rol del Production Engineer gira alrededor de la parte fundamental del proyecto, regularmente siendo la persona que rompe el concepto de la innovación creando y ejecutando planes de acción para sobrepasar las dificultades y al mismo tiempo ayudar en el desarrollo técnico del producto final.
            </Paragraph>
            <div class="pt-8 grid grid-cols-2 items-center gap-4 max-w-3xl md:max-w-[none]">
                <Info description="Production Manager" title="Rol">
                    <span slot="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-5 sm:h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                        </svg>                              
                    </span>
                </Info>
            </div>
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/LuisPlano.png"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
    </Container>
</section>